.about-container {
     padding:5rem;
}
.about-page {
   
    display:flex;
   
}
.caption {
    font-size:5rem;
    
}
.caption-contain > * {
  margin-bottom:4rem;
}
.caption-p {
    font-size:1.5rem;
   color:#8C939A;
   font-weight:400;
    
}
.about-info {
    padding:0 3rem;
}
.stats {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:10rem;
}
.about-img img {
    width:100%;
    height:70rem;
    object-fit: cover;
}
.stats-item {
    display:flex;
    font-size:4rem;
    margin-bottom:10rem;
}
.stats-icon {
    margin-right:4rem;
}
.stats-item .fa {
    background:none;
    color:#1DC681;
    font-size:6rem;
}
.stats-item h3 {
    font-weight:200;
    font-size:4rem;
    margin-bottom:1rem;
}
.stats-item p {
    font-weight:900;
    color:#6A737C;
}

@media only screen and (max-width: 1150px) {
  .about-page {
   
    flex-direction: column;
  
   
}
.about-container {
     padding:2rem;
}
.about-info{
    order:2;
    margin-top:5rem;
   
}
.stats {
    justify-items: center;
    margin-top:5rem;
}
}
@media only screen and (max-width: 850px) { 
    .stats-icon {
    margin-right:2rem;
}
}   
@media only screen and (max-width: 550px) { 
    .stats {
    display:flex;
    flex-direction: column;
}
.stats-item {
    display:flex;
    font-size:3rem;
    margin-bottom:4rem;
    
}
.stats-item .fa { 
    font-size:4rem;
}
.caption {
    font-size:3rem;
}
.about-img img { 
    height:40rem;
}
}
