
.product-route-grid {
    grid-gap:5rem;
  
}
.product-route-grid .grid-item{
    border-right:1px solid #E8E9EB;
   
   
}
.buttons-product {
    display:flex;
    justify-content: center;
    align-items: center;
       font-size:3rem;
}
.product-fa {
    border-radius: 0;
    font-size:inherit;
    padding:1rem 3rem;
    background:#1DC681;
    cursor: pointer;
}
.page-button {
    border:1px solid #E8E9EB;
      padding:1rem 2rem;
      color:#A9AEB3;
}
.disable-btn .product-fa {
    pointer-events: none;
    background:#8EE3C0!important;
}

/* 
filter bar */

.filter-bar {
    display:flex;
    align-items: center;
       font-size:5rem;
        padding:2rem 6rem;
    background:#1E2024;
}
.numberProduct {
    font-size:1.5rem;
    color:white;
    margin-left:auto;
}

.product-heading {
    font-size:6rem;
  
    text-align: center;
    padding:2.5rem  0;
}
.filter-container {
    margin-right:3rem;
}

.filter-bar label {
    color:white;
    text-transform: uppercase;
    font-size:1.5rem;
    margin-right:1rem;
    font-weight:900;
 
}

.select-css {

    border:none;
   
   
    height: 40px;
    opacity: 1;
    position: relative;
    color: #e1e1e1;
   
    background: #282b31;
}
.select-css:focus{
    outline:none;
}

@media only screen and (max-width: 600px) { 
    .product-route-grid {
    grid-gap:1rem;
  
}
}
@media only screen and (max-width: 450px) { 
    .filter-bar {
   
   
       font-size:3rem;
          padding:1rem 2rem;
}
.product-heading {
    font-size:4rem;
}
}