.modal-wrapper {
    background-color: rgba(0,0,0,0.8);
    height:100%;
     width:100%;
   

    position: fixed;
    top:0;
    left:0;
    z-index:999;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10%;
   

}
.modal-content {

    background-color:white;
    color:#AAAAAA;
    font-size:4rem;
    padding:3rem;
    display:flex;
    flex-direction:column;
    
    align-items: flex-end;
    -webkit-box-shadow: 10px 10px 54px 38px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 54px 38px rgba(0,0,0,0.75);
box-shadow: 10px 10px 54px 38px rgba(0,0,0,0.75);
}
.modal-content .fa {
    background:none;
    color:#3F9A71;
}
.fa-close {
    color:#AAAAAA!important;
    font-size:3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.modal-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self:center;
}
.modal-line a {
    text-decoration: none;
    color:black;
    border-bottom:1px solid black;
    font-size:inherit;
    margin:0 1rem;
}
.modal-line a:hover {
     color:#3F9A71;
}
@media only screen and (max-width: 650px) {
    .modal-content {

   
    font-size:2rem;
    padding:1rem;
} 
}
@media only screen and (max-width: 380px) {
    .fa-close {
        font-size:2rem;
    }
    .modal-line a {
        border:none;
        margin:0 0.5rem;
    }
    .modal-content {

   
   
    padding:0.5rem;
} 
}