/* TOPBAR */
.topbar {
     
    padding:2.5rem 5rem;
    background-color:#292C31;
    color: #9a9da2;
    display: flex;
    
}
.topbar-item{
    width:50%;
    display:flex;
    font-size:2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.margin-text-topbar {
    margin:0 5px;
}
.logo-text {
      letter-spacing: 0;
    color:white;
}
.login-text {
  
    display:flex;
    font-size:inherit;

}
/* TOPBAR */




/* HEADER-TOP */
.header-top {
    background:linear-gradient(rgba(255,255,255,0.01), rgba(255,255,255,0.01)), url('./header-top-bg.jpg');
    display:flex;
    padding:0 2rem;
    position: relative;
    overflow: hidden;
}
.header-top-left {
    width:25rem;
    display:flex;
    justify-content: center;
    padding: 4rem;
     border-right: solid 1px #212326;
  
}
.gearm-logo {
    width:80%;
   
}
.header-top-right {
    display:flex;
    flex-direction: column;
    flex-grow:3;
    
}
.header-search-bar {
    padding:3rem;
    width:100%;
     border-bottom: solid 1px #212326;
     display:flex;
   
}
.search-bar-input {
    flex:2;
    position: relative;
}
.search-input {
    background: #292c31;
    border-radius: 35px;
    border:none;
    height:7.5rem;
    width:100%;
    text-indent: 3rem;
    color:white;
    font-size:2rem;

}
.search-input::-webkit-input-placeholder {
    font-size:1.4rem;
}
.search-input:focus {
    border:1px solid white;
    outline: none;
}
.search-icon {
    width:3rem;
    height:3rem;
    position: absolute;
    top:50%;
    right:3rem;
    transform: translateY(-50%);
}
.header-contact-bar {
    flex:3;
    display:flex;
    justify-content: space-between;
    padding-left:4rem;
}
.header-contact-item {
    display:flex;
    align-items: center;
    font-size:3.1rem;
    color:white;
    text-transform: uppercase;
}
.headphone-img {
    width:4rem;
    margin-right:1.2rem;
}
.contact-subtext {
        color: #9a9da2;
        font-size:inherit;
        margin-top:1rem;
}
.header-nav-bar {
    align-self: stretch;
    display: flex;
    flex-grow:1;
 
}
.nav-bar{
    width:40%;
    display:flex;
    color:white;
    font-weight:700;
    font-size:4.5rem;
    text-transform: capitalize;
    justify-content: space-around;
    align-items: center;
    width:40%;
}
.nav-item {
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color:inherit;
    text-transform: capitalize;
}
.nav-item:hover {
    color:#1DC681;
}
.social-network{
    width:60%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.fa {
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color:white;
  background:#292C31;
  margin:0 1rem;
}
.fa:hover {
    background:#1DC681;
}
/* HEADER-TOP */



/* HEADER - SLIDE - HOME ROUTE */
.slide-show-image {
      background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    padding:10rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position:relative;
    transition: background-image 0.2s ease-in; 
}
.slide-show-image:hover .fa-arr {
    display:block;
}
.slide-content-list{
    width:100%;
    padding:0 20rem;
 
  
}
.list-animation {
   animation: animation-slide 0.2s ease-in-out;
}
.slide-content_sub {
 
    color:white;
    list-style: none;
  
}
.slide-content_sub > * {
    background: rgba(0,0,0,0.6);
    padding:2rem;
    font-family: 'Anton', sans-serif;
    display:inline-block;
}
.slide-content_sub span {
    font-size:3rem;
    letter-spacing: 4px;
    line-height:1.6rem;
    font-weight:400;
}
.slide-content_sub h2{
    font-size:10rem;
    font-weight:600;
   
     margin:1rem 0;
}
.slide-content_sub h3 {
    font-size:8rem;
}
.slide-content-button {
     background: #1DC681;
    padding:3rem 5rem;
    display:inline-block;
    color:white;
    font-size:3rem;
    font-weight:600;
    margin:3rem 0 0 2rem;
    cursor: pointer;
      text-decoration: none;
  
}
.slide-content-button .shop-button {
     text-decoration: none;
     color:inherit;
}
.slide-content-button:hover{
    background-color: #169a64;
    
}
.slide-slick-dots{
    display:flex;
    justify-content: center;
    position: absolute;
    bottom:3%;
    left:50%;
    transform: translateX(-50%);
}
.slick-dot {
    width:6rem;
    height:0.5rem;
    background-color: #9A9DA2;
    border-radius:2px;
    margin-right:1rem;
    cursor: pointer;
}
.active {
    background-color:white!important;
}
.fa-arr {
     position: absolute;
    top:50%;
     transform: translateY(-50%);
     cursor: pointer;
     display:none;

}
.fa-chevron-left {
    left:3%;
   
}
.fa-chevron-right {
    right:3%;
      
}
@keyframes animation-slide {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    100%{
           opacity: 1;
        transform: translateY(0);
    }
}


/* HEADER - SLIDE - HOME ROUTE */


/* HEADER - SLIDE - OTHER ROUTE */

.slide-route {
    width:100%;
    background-image:url('./header-route-bg.jpg');
    height:auto;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:20rem 0;
    color:white;
    font-size:3.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.details-slide-route {
    font-size:inherit;
    display:flex;
    
}
.arrow-to {
    margin:0 1rem;
}
/* HEADER - SLIDE - OTHER ROUTE */
/* //Mobile Style */
.search-mobile{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99;
    background:white;
 
    font-size:2rem;
    padding:3rem;
}

.search-bar-mobile > * {
       
      transform: translateY(-100%);

}
.active > *{
     animation: active 0.2s ease-in-out;
     transform: translateY(0);
}
.mobile-icons {
    display:none;
    
}

.icons-active {
    display:inline-block;
}
@keyframes active {
   0% {
 
    opacity: 0;

  }

 
  
  100%{
      opacity: 1;
      
      
     

  }
}

.search-icon-mobile {
    position: absolute;
    z-index: 99;;
    top:50%;
    right:25%;
    width:3rem;
    transform: translateY(-50%);
    
}
.x {
     position: absolute;
    z-index: 99;;
    top:50%;
    right:2%;
    transform: translateY(-50%);
     width:3rem;
}
.header-mobile-nav {
    margin-left:auto;
    display:none;
    align-items: center;
}
.header-mobile-nav i {
    border-radius: 2px;
    padding:1rem;
    font-size:2rem;
    background:#1DC681;
    color:white;
    
}
.header-mobile-nav i:hover{
    background: #169a64;
}
.fa-shopping-bag {
    position: relative;
   
}
.fa-shopping-bag span {
    position: absolute;
    top:-1.5rem;
    right:-0.5rem;
    font-size:1.2rem;
    font-weight:900;
    color:#1DC681;
    background:white;
    padding:0.5rem;
    border-radius:2px;
    
}

.nav-bar-mobile{
    height:0;
    opacity: 0;
}
.open-nav {
    opacity: 1;
   height:100%;
   animation: appear 0.5s ease;
 
}

.nav-item-mobile {
    display:block;
    font-size:3.5rem;
    background:white;
    text-decoration: none;
    font-weight:400;
    letter-spacing: 2px;
    padding:2rem 4rem;
      border-bottom:1px solid #E8E9EB;
      color:#5C5C5C;
      overflow: hidden;
     
      
}
@keyframes appear {
  0% {
    height:0;
    opacity: 0;

  }

 
  
  100%{
      opacity: 1;
        height:100%;
      
     

  }
  
}
/* @keyframes hideBar {
   0% {
    height:100;
    opacity: 1;

  }

 
  
  100%{
      opacity: 0;
        height:0;
      
     

  }
} */






@media only screen and (max-width: 1260px) {
    .header-top-right {
    display:none;
    }
    .header-top-left {
    width:18rem;
    display:flex;
    justify-content: center;
    padding: 2rem;
     border-right: solid 1px #212326;
  
    }
    .header-mobile-nav { 
        display:flex;
    }
    .slide-content_sub span {
    font-size:2rem;
   
}
.slide-content-list{
    padding:0 10rem;
}
.slide-content_sub h2{
    font-size:6rem;
    font-weight:600;
   
     margin:1rem 0;
}
.slide-content_sub h3 {
    font-size:4rem;
}
.slide-content-button {
    
    padding:3rem;
   
}
.slide-show-image {
    padding:5rem 0;
}
.fa-arr {
    display: inline-block;
}

}

@media only screen and (max-width: 720px) { 
    .slide-route {

    padding:15rem 0;
   
    font-size:2.5rem;
    
}   
.arrow-to {
    margin:0 0.5rem;
}
}
@media only screen and (max-width: 550px) { 
     .slide-content_sub span {
    font-size:1.2rem;
   
}
.slide-content-list{
    padding:0 4rem 0 6rem;
}
.slide-content_sub h2{
    font-size:3.2rem;
   
}
.slide-content_sub h3 {
    font-size:3rem;
}
.slide-content-button {
    
    padding:1rem 2rem;
    font-size:2rem;
   
}
.header-mobile-nav i {
    
    font-size:1.5rem;
    
    
}
.nav-item-mobile {
   
    font-size:2.5rem;
    padding:1.5rem 4rem;

     
      
}
.search-mobile{
    font-size:1.8rem;
    padding:2rem;
}
}
@media only screen and (max-width: 420px) { 
    .slide-route {

  
   
    font-size:2rem;
    
}   
}
@media only screen and (max-width: 400px) { 
    .topbar {
  
    padding:2.5rem;
    
} 
}  
