.detail-page {
    padding:6rem 3rem;
   
}
.product-single-title {
    
    border-bottom:2px solid #E8E9EB;
    padding:3rem 3rem 3rem 0;
    text-align: left;
    font-size:1.6rem;
}
.details-container {
    display: grid;
    grid-template-columns: 50% 50%;

}
.details-container img{
    max-width:100%;
   
}
.details-images{ 
    padding:1rem;
}
.slide-img-detail {
    height:55rem;
    object-fit: cover;
}
.image-small-list {
   display:grid;
   grid-template-columns: repeat(4,10rem);
    align-items: center;
    grid-gap:1rem;
    padding:3rem;
    margin-top:5rem;
    
}
.image-small-item{
    cursor: pointer;
    padding:0.8rem;
}
.image-small-item img {
    height:10rem;
    object-fit: cover;
}
.image-small-item:hover{
    filter:brightness(120%);
}
.onSlide {
    
    border:1px solid #1DC681;
}


/* detail info */
.details-info {
    padding:8rem 20rem 0 20rem;
   

}
.detail-item-price{
    font-size:4.5rem;
    color:#1DC681;
}
.details-info div {
    font-size:2rem;
    color:#8C939A;
}

.details-info >*:not(:last-child){
    margin-bottom:3.5rem;
}


.add-to-cart {
    display:inline-block;
    padding:1.5rem;
    border-radius:20rem;
    background:#1DC681;
    color:white!important;
   font-size:1.5rem!important;
    letter-spacing: 1px;
    font-weight:700;
    cursor:pointer;
    text-transform: uppercase;
}
.add-to-cart:hover{
    background-color: #169a64;
    
}
.add-to-cart .fa {
  padding:0;
 
  color:white;
  background:none;
  margin-right:0.5rem;

}
.cart-button-box {
    display:flex;
    align-items: center;
      border-top:1px solid #E8E9EB;
  border-bottom: 1px solid #E8E9EB;
    padding:4rem 0;
}
.wishlist .fa {
    background:#9A9DA2;
    padding:2rem;
     cursor:pointer;
}
.wishlist .fa:hover {
    background-color: #169a64;
}


/* //review */

.video-review {
    padding:3rem;
    border:1px solid #E8E9EB;
}


@media only screen and (max-width: 1300px) {
    .detail-page {
    padding:6rem 1rem;
   
    
}
.add-to-cart {
   
    padding:1.5rem;
    
 
   font-size:1.2rem!important;
    letter-spacing: 0;
 
}
.details-info {
    padding:8rem;
    
   

}
.slide-img-detail {
    height:40rem;
   
}
}
@media only screen and (max-width: 900px) {
    .image-small-list {
  
   grid-template-columns: repeat(4,6rem);
    
    
}
.details-info {
    padding:6rem;
    
   

}
}
@media only screen and (max-width: 700px) { 
    .details-container {
    display:flex;
    flex-direction: column;
    
    
}
.image-small-list {
    align-items: center;
    justify-items: center;
    grid-gap:1rem;
    padding:3rem;
    margin-top:1rem;
}
.main-section {
    padding-bottom:5rem;
}
.slide-img-detail {
    height:35rem;
    
   
}
iframe {
    height:400px;
}
.img-big-container div {
    display:flex;
    justify-content: center;
}
}
@media only screen and (max-width: 450px) { 
    .slide-img-detail {
    height:30rem;
    
   
}
.details-info {
    padding:3rem;
}
.image-small-list {
   padding:0;
    
}
.image-small-item img {
    height:5rem;
    
}
.video-review {
    padding:0.5rem;
  
}
iframe{
    height:300px;
}
}

